# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
# db.sqlite3
# *.sqlite3
/media/
staticfiles/
*.log
.env
*.env
local_settings.py

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# VS Code
.vscode/

# PyCharm
.idea/

# Vim
*.swp
*.swo